
/* General
**************************/
body {
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 12px;
}
	

/* Map
***************************/
#map {
	/*background:#000;*/
	background: url(../img/background.png) top left repeat;
	position:absolute;
	top:0;
	left:0;
	right: 0;
	bottom: 0;
	z-index: 5;
 }
	
	
/* Atribution
**************************/ 
.attribution {
	position: absolute;
	bottom: 0;
	right: 0;
	color: #FFF;
	background: #000;
	margin: 0;
	z-index: 10;
	opacity:0.6;
	padding: 5px;
}

.attribution a {
	color: #FFF;
}
.attribution a:hover {
	text-decoration: none;
}

/* Controls
************************/
#controls {
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px;
	z-index: 10;
}

#controls a {
	background-color: yellow;
	color: #000;
	padding: 10px;
	margin: 15px;
	display: block;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
}

#controls a:hover {
	background-color: black;
	color: #FFF;
}
